body {
    color: #ddd;
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.die {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: solid 2px black;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.dieBig {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: solid 2px black;
    margin: 5px;
    cursor: pointer;
}

.dieNotUsed {
    opacity: 0.3;
}

.blue {
    background-color: #0e78b6;
}

.blue:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(14,120,182,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(14,120,182,0.5);
    box-shadow: 0px 0px 15px 5px rgba(14,120,182,0.5);
}

.white {
    background-color: white;
}

.white:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 15px 5px rgba(255,255,255,0.5);
}

.yellow {
    background-color: #ffee0a;
}

.yellow:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255,238,10,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(255,238,10,0.5);
    box-shadow: 0px 0px 15px 5px rgba(255,238,10,0.5);
}

.red {
    background-color: rgb(240, 29, 35);
}

.red:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(240, 29, 35,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(240, 29, 35,0.5);
    box-shadow: 0px 0px 15px 5px rgba(240, 29, 35,0.5);
}

.green {
    background-color: rgb(23, 149, 65);
}

.green:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(23, 149, 65,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(23, 149, 65,0.5);
    box-shadow: 0px 0px 15px 5px rgba(23, 149, 65,0.5);
}

.black {
    background-color: rgb(38, 30, 27);
    color: white;
}

.black:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(90,90,90,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(90,90,90,0.5);
    box-shadow: 0px 0px 15px 5px rgba(90,90,90,0.5);
}

.purple {
    background-color: rgb(101,45,144);
    color: white;
}

.purple:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(101,45,144,0.5);
    -moz-box-shadow: 0px 0px 15px 5px rgba(101,45,144,0.5);
    box-shadow: 0px 0px 15px 5px rgba(101,45,144,0.5);
}

.r1{
    background-image: url("../img/success.jpg");
}

.r2{
    background-image: url("../img/boon.jpg");
}

.r3.purple{
    background-image: url("../img/fail.jpg");
}

.r3.black{
    background-image: url("../img/failBlack.jpg");
}

.r4{
    background-image: url("../img/bane.jpg");
}

.r5{
    background-image: url("../img/comet.jpg");
}

.r6{
    background-image: url("../img/chaos.jpg");
}

.r7{
    background-image: url("../img/successPlus.jpg");
}

.r8{
    background-image: url("../img/successSuccess.jpg");
}

.r9{
    background-image: url("../img/boonBoon.jpg");
}

.r10{
    background-image: url("../img/failFail.jpg");
}

.r11{
    background-image: url("../img/baneBane.jpg");
}

.r12{
    background-image: url("../img/successBoon.jpg");
}

.r12.red{
    background-image: url("../img/successBoonRed.jpg");
}

.r13{
    background-image: url("../img/successDelay.jpg");
}

.r14{
    background-image: url("../img/successSuffer.jpg");
}