.die {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 2px black;
    margin: 5px;
}

.blue {
    background-color: dodgerblue;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: forestgreen;
}

.black {
    background-color: black;
    color: white;
}

.purple {
    background-color: blueviolet;
    color: white;
}

.blue:hover {
    background-color: deepskyblue;
}